///* ========================================================================
//   #PROCEDURES
//   ======================================================================== */

$bg-color-procedure: map-get($brand-color, primary) !default

.c-procedures {

  padding-top: rem(48);
  padding-bottom: rem(48);
  background-color: map-get($brand-color, bluelight);
  overflow: auto;
  @include breakpoint(md) {
    padding-top: rem(42 + 16);
  }

  &--title {
    color: $white;
    text-align: center;
    font-size: rem(34);
    margin-bottom: rem(26);
  }

  &__container {
    flex: 0 0 100%;
    max-width: 100%;
    @include breakpoint(md) {
      flex-basis: 50%;
      max-width: 50%;
    }
  }

  &__block {
    background-color: lighten($bg-color-procedure, 42%);
    padding: rem(26);
    &--title {
      font-size: rem(26);
      color: map-get($brand-color, secondary);
    }
  }

}