///* ========================================================================
//   #HEADER
//   ======================================================================== */


.c-header {
  background: $white;
  border-bottom: 1px solid rgba($gray-light, .8);

  &--logo {
    // padding: rem(16);
    flex-basis: 100%;
    display: flex;
    flex-flow: row wrap;
  	justify-content: center;
  	@include breakpoint(md) {
  		flex-basis: auto;
  	}
  }

  &--navigation {
  	flex-basis: 100%;
  	@include breakpoint(md) {
  		flex-basis: auto;
  	}
    &__link {
      color: $gray-dark;
      padding-left: rem(12);
      padding-right: rem(12);
      flex: 0 0 auto;
      &:hover {
      	color: lighten($gray-dark, 15%);
      }
    }
  }

  &__tel {
    a {
      color: $gray-ultra;
    }
    @include breakpoint(md) {
      a {
        font-size: 120%;
      }
    }
  }

  &__cta {
  	margin-top: rem(12);
    margin-bottom: rem(12);
  	flex-basis: 100%;
  	@include breakpoint(md) {
  		flex-basis: auto;
      margin-left: rem(18);
  	}
  }

  &__price-list {
    margin-top: rem(12);
    margin-bottom: rem(12);
    color: map-get($brand-color, secondary);
    font-weight: bold;
    flex-basis: 100%;
    padding: rem(12) rem(15);
    @include breakpoint(md) {
      flex-basis: auto;
      margin-left: rem(18);
      border-left: 1px solid $gray-light;
    }
  }

}