///* ========================================================================
//   #HEADER
//   ======================================================================== */


.c-header {
  background: $white;
  &--logo {
    padding: rem(16);
  }
  &--navigation {
    &__link {
      color: map-get($brand-color, primary);
    }
  }
}