///* ========================================================================
//   #FORMS
//   ======================================================================== */


$input-bg: $white !default;
$input-border-color: $gray-medium !default;
$input-focus-border-color: $gray-dark !default;
$input-border-radius: rem(3) !default;

.c-form-input {
	padding: rem(8) rem(12);
	background-color: $input-bg;
	border: 1px solid $input-border-color;
	border-radius: $input-border-radius;
	margin-bottom: rem(16);
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	&:focus {
	  border-color: $input-focus-border-color;
	}
}

select.c-form-input {
  &:not([size]):not([multiple]) {
    height: rem(38 + 2);
  }
}




/**
 * Form CTA
 */

.c-form-cta {
	flex: 0 0 100%;
	max-width: 100%;
	background-color: #1e3656;
	padding: rem(40) rem(20);
	color: $white;
	@include breakpoint(md) {
		flex: 0 0 35%;
		max-width: 35%;
		padding-left: rem(50);
		padding-right: rem(50);
	}
}
