///* ========================================================================
//   #FOOTER
//   ======================================================================== */

$bg-footer-bottom: $gray-ultra !default;

.c-footer {
  &--newsletter {
    background-color: #dcdcdc;
    color: $gray-ultra;
    text-align: center;
    padding-top: rem(48);
    padding-bottom: rem(48);
  }
  &--form{
    flex: 0 0 75%;
    max-width: 75%;
  }
  &--bottom{
    background-color: $bg-footer-bottom;
    padding-top: rem(15); 
    padding-bottom: rem(15);
    color: #fff;
  }
  &__copy {
    width: 100%;
    text-align: center;
    @include breakpoint(md) {
      margin-bottom: 0;
      width: inherit;
    }
  }

  &--nav {
    &__link {
      padding-left: rem(12);
      padding-right: rem(12);
      flex: 0 0 auto;
    }
  }
}