/* ==========================================================================
   #GRID
   ========================================================================== */


.o-content{
	flex: 0 0 100%;
	max-width: 100%;
	@include breakpoint(md){
    flex: 0 0 calc(100% - 30%);
		max-width: calc(100% - 30%);
  }
}